<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    {{#if cssFile}}
      <link rel="stylesheet" href="/css/{{cssFile}}" />
    {{/if}}
  </head>
  <body>
    <header class="site-header">
      <a href="/" class="logo-link">
        <img
          src="/public/img/logo.png"
          alt="CareerScope logo"
          class="logo"
        >
        <span class="site-name">CareerScope NYC</span>
      </a>

      <nav class="main-nav">
        <ul class="nav-links">
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/compare">Compare</a></li>
          <li><a href="/account">My Info</a></li>
        </ul>
        <div class="account-menu">
      <a 
      href=
    {{#if isAuthenticated}}
    "/account"
    {{else}}
    "/auth/login"
    {{/if}}>
      <img
        src="/public/img/accountIcon.png"
        alt="Account"
        class="account-icon"
      >
    </a>

    <div class="account-dropdown">
      {{#if isAuthenticated}}
      <a href="/auth/logout">Logout</a>
      {{else}}  
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
      {{/if}}
    </div>
  </div>
      </nav>
    </header>

    {{{body}}}
  </body>
</html>
