<link rel="stylesheet" href="/public/css/openJobs.css">
<main>
  <h1>Open Jobs</h1>
  <div id="pageDesc">
    <p>Browse the open job postings that best meet your criteria!{{#if isAuthenticated}} Click
      <span style="font-style:italic">"Search with My Resume"</span> to have jobs sorted based on relevance to your
      skills. Make sure your resume has lots of
      keywords to get the most accurate results.{{else}} <a href="/auth/login">Login</a>
      and upload a resume
      for
      more
      personalized resume-based suggestions, or to save jobs for later.{{/if}}
    </p>
  </div>
  <br>


  <form id="openJobSearch" name="openJobSearch" method="post" action="/jobs">

    {{!-- Prepare dropdowns --}}
    <datalist id="agencyList">
      {{#each dropdownOptions.agencies}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>

    <datalist id="titleList">
      {{#each dropdownOptions.titles}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>

    {{!-- Fields --}}
    <label for="agency">Agency</label>
    <input id="agency" name="agency" type="text" autoComplete="on" list="agencyList" placeholder="Select an Agency">
    <br>
    <label for="title">Job Title</label>
    <input id="title" name="title" type="text" autoComplete="on" list="titleList" placeholder="Select a Job Title">
    <br>

    <label for="keywords">Keywords</label>
    <input id="keywords" name="keywords" type="text" placeholder="Enter Job Keywords">
    <br>
    <label for="borough">Borough</label>
    <select id="borough" name="borough">
      <option selected value="">Any Borough</option>
      <option value="Manhattan">Manhattan</option>
      <option value="Staten Island">Staten Island</option>
      <option value="Queens">Queens</option>
      <option value="Bronx">Bronx</option>
      <option value="Brooklyn">Brooklyn</option>
    </select>
    <br>

    <label for="minDate">Posted Since</label>
    <input id="minDate" name="minDate" type="date">


    <div id="salaryRangeContainer">
      <label for="salaryRangeValue">Salary Range</label>
      <input type="text" id="salaryRangeValue" readonly>
      <div id="salarySlider"></div>
      <input type="text" name="minSalary" id="minSalary" value="0" hidden readonly>
      <input type="text" name="maxSalary" id="maxSalary" value="200000" hidden readonly>
    </div>

    <input id="useResume" name="useResume" type="checkbox" hidden>

    <input id="page" name="page" type="number" value="{{pageInfo.page}}" min="1" max="{{pageInfo.maxPage}}" hidden
      readonly>
    <label for="nonResidency">Open to Non-Residents</label>
    <input id="nonResidency" name="nonResidency" type="checkbox" checked>
    <br>

    <label for="fullTime">Full Time Only</label>
    <input id="fullTime" name="fullTime" type="checkbox">
    <br>
    <label for="numPerPage"> Results Per Page</label>
    <select id="numPerPage" name="numPerPage">
      <option value="10" selected>10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <br>

    {{#if isAuthenticated}}
    <label for="jobTag">Job Tag</label>
    <select id="jobTag" name="jobTag">
      <option value="" selected>Any Job Tag</option>
      <option value="Applied">Applied</option>
      <option value="Rejected">Rejected</option>
      <option value="Interview Scheduled">Interview Scheduled</option>
      <option value="Offer Received">Offer Received</option>
    </select>
    {{/if}}

    <div id="formButtons">
      <button id="submitSearch" name="submitSearch">Search</button>
      <button id="submitSearchWithResume" name="submitSearchWithResume">Search with My Resume</button>
      <button id="resetSearch" name="resetSearch">Reset</button>
    </div>


  </form>

  <div id="error" {{#if error}}{{else}}hidden{{/if}}>
    <ul id="errorList">
      {{#if error}}
      <li class="error">{{error}}</li>
      {{/if}}
    </ul>

  </div>

  <div id="jobListings">
    {{!-- Filled after an AJAX request --}}
  </div>

  <div id="pageControls">
    <button id="prevPage" name="prevPage">Previous Page</button>
    <button id="nextPage" name="nextPage">Next Page</button>
    <p id="pageText">Page {{pageInfo.page}}/{{pageInfo.maxPage}} Total: {{pageInfo.numResults}} Jobs</p>
  </div>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/public/js/openJobs.js"></script>
</main>