<main>
  <h1>Jobs</h1>
  <p>Nick is doing this one.</p>

  <form id="openJobSearch" name="openJobSearch" method="post" action="/jobs">

    {{!-- Prepare dropdowns --}}
    <datalist id="agencyList">
      {{#each dropdownOptions.agencies}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>

    <datalist id="titleList">
      {{#each dropdownOptions.titles}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>

    {{!-- Fields --}}
    <label for="agency">Agency</label>

    <input id="agency" name="agency" type="text" autoComplete="on" list="agencyList" placeholder="Select an Agency" />
    <label for="title">Job Title</label>
    <input id="title" name="title" type="text" autoComplete="on" list="titleList" placeholder="Select a Job Title" />

    <label for="keywords">Keywords</label>
    <input id="keywords" name="keywords" type="text" placeholder="Enter Job Keywords" />
    <label for="borough">Borough</label>
    <select id="borough" name="borough">
      <option selected value="">Any Borough</option>
      <option value="Manhattan">Manhattan</option>
      <option value="Staten Island">Staten Island</option>
      <option value="Queens">Queens</option>
      <option value="Bronx">Bronx</option>
      <option value="Brooklyn">Brooklyn</option>
    </select>

    <label for="minDate">Posted Since</label>
    <input id="minDate" name="minDate" type="date" />

    <label for="salaryRangeValue">Salary Range</label>
    <div id="salaryRangeContainer">
      <input type="text" id="salaryRangeValue" readonly>
      <div id="salarySlider"></div>
      <input type="text" name="minSalary" id="minSalary" value="0" hidden readonly></input>
      <input type="text" name="maxSalary" id="maxSalary" value="200000" hidden readonly></input>
    </div>

    <input id="useResume" name="useResume" type="checkbox" hidden>

    <input id="page" name="page" type="number" value="{{pageInfo.page}}" min="1" max="{{pageInfo.maxPage}}" hidden
      readonly>
    <label for="nonResidency">Open to Non-Residents</label>
    <input id="nonResidency" name="nonResidency" type="checkbox" checked />

    <label for="fullTime">Full Time Only</label>
    <input id="fullTime" name="fullTime" type="checkbox" />
    <label for="numPerPage"> Results Per Page</label>
    <select id="numPerPage" name="numPerPage">
      <option value="10" selected>10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    {{#if isAuthenticated}}
    <select id="jobTag" name="jobTag">
      <option value="" selected>Any Job Tag</option>
      <option value="Applied">Applied</option>
      <option value="Rejected">Rejected</option>
      <option value="Interview Scheduled">Interview Scheduled</option>
      <option value="Offer Received">Offer Received</option>
    </select>
    {{/if}}

    <button id="submitSearch" name="submitSearch">Search</button>
    <button id="submitSearchWithResume" name="submitSearchWithResume">Search with My Resume</button>
    <button id="resetSearch" name="resetSearch">Reset</button>

    {{#if isAuthenticated}}
    <label for="jobTag">Job Tag</label>
    {{/if}}

  </form>

  <div id="error" {{#if error}}{{else}}hidden{{/if}}>
    <ul id="errorList">
      {{#if error}}
      <li class="error">{{error}}</li>
      {{/if}}
    </ul>

  </div>

  <div id="jobListings">
    {{!-- {{#each jobs}}
    <div class="listing" id="{{_id}}">
      <p>{{title}}</p>
      {{#if ../isAuthenticated}}
      <form class="selectJobForm">
        <label>
          Select a Job Tag
          <select class="tag" name="tag">
            <option value="">Tag this job</option>
            <option value="Applied">Applied</option>
            <option value="Rejected">Rejected</option>
            <option value="Interview Scheduled">Interview Scheduled</option>
            <option value="Offer Received">Offer Received</option>
            <option value="Remove Tag">Remove Tag</option>
          </select>
        </label>

        <div class="subForm" hidden>
          <label>
            Notes
            <textarea class="notes" name="notes" placeholder="Notes"></textarea>
          </label>
          <label>
            Confidence (1-10)
            <input class="confidence" type="number" min="1" max="10" value="5">
          </label>
          <button class="submitTag" name="submitTag">Submit</button>
          <button class="removeTag" name="removeTag">Remove Tag</button>
        </div>
      </form>
      <div class="tagError" hidden>
        <ul class="tagErrorList">

        </ul>
      </div>


      {{/if}}
    </div>
    {{/each}} --}}
  </div>

  <div id="pageControls">
    <button id="prevPage" name="prevPage">Previous Page</button>
    <button id="nextPage" name="nextPage">Next Page</button>
    <p id="pageText">Page {{pageInfo.page}}/{{pageInfo.maxPage}} Total: {{pageInfo.numResults}} Jobs</p>
  </div>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="/public/js/openJobs.js"></script>